<link rel="stylesheet" href="../public/css/style-header.css">


<header id="header">
    <div id="use-black"></div>
    <div id="serchhe">
        <div class="icon">
            <a href="/">   <img src="../public/img/logo.png"></a>
        </div>
        <input type="search"  placeholder="Пошук  за назвою, брендом, категорією ..." />
        <button class="but-he" >Пошук</button>
        <img src="../public/img/phone.png">
        <div class="tel">Телефон:  <br> <a href="tel:+380930125618">(093)012-5618 </a> </div>


    </div>
    <div class="cart">
        <a href="/cart"> <img src="../public/img/cart.png"></a>
        <div class="counter">2</div>
        <div class="card-sh">
         Корзина <br>
            <span>
                <bdi>
                    "0,00&nbsp;"
                </bdi>
            </span>
        </div>
    </div>
    <div id="menu">
    <ul class="menu">
        <a href="/">  <li>ГОЛОВНА</li></a>
        <a href="/shop1"><li>КАТАЛОГ</li></a>
        <a href="/product"><li>АВТОЗАПЧАСТИНИ</li></a>
        <a href="/contacts"> <li>КОНТАКТИ</li></a>

    </ul>
    </div>
 </header>